name: "testing-outputs"

on:
  pull_request:
    branches: 
      - main

jobs:
  check-versions:
    runs-on: ubuntu-latest
    outputs:
      PREVIOUS_VERSION: ${{ steps.get-previous-version.outputs.PREVIOUS_VERSION }}
      CURRENT_VERSION: ${{ steps.get-current-version.outputs.CURRENT_VERSION }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 3
    - name: Get Previous Version
      id: get-previous-version
      run: |
        echo PREVIOUS_VERSION=$(git show "${{ github.event.before }}:package.json" | grep -o '"version": *"[^"]*"' | sed 's/"version": *"\(.*\)"/\1/') >> $GITHUB_OUTPUT
        echo "$PREVIOUS_VERSION"

    - name: Get Current Version
      id: get-current-version
      run: |
        echo CURRENT_VERSION=$(git show "${{ github.event.after }}:package.json" | grep -o '"version": *"[^"]*"' | sed 's/"version": *"\(.*\)"/\1/') >> $GITHUB_OUTPUT
        echo "$CURRENT_VERSION"

    - name: Show captured diff
      run: |
        echo "${{ steps.get-previous-version.outputs.PREVIOUS_VERSION }}"
        echo "${{ steps.get-current-version.outputs.CURRENT_VERSION }}"

  Publish:
    needs: check-versions
    runs-on: ubuntu-latest

    steps:    
      - name: Show captured diff
        if: needs.check-versions.outputs.PREVIOUS_VERSION != needs.check-versions.outputs.CURRENT_VERSION
        run: |
          echo "Published new version"
# done!!!
