name: "teste"

on:
  pull_request:
    branches: 
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
  
    - name: Get Version Change
      id: current_version
      run: |
        if [[ $(git show package.json | grep '^+\s*"version":') ]]; then
        echo "current_version=$CHANGES" >> "$GITHUB_ENV"
        else
        echo "No changes to package version."
        fi
  
    - name: Trigger On Version Change
      if: env.current_version
      run: |
        echo "Version field of package.json was modified in the latest commit."

