name: "sonarcloud"

on:
  push:
    branches: 
      - main1

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 3

      - name: Get Previous Version
        run: |
          echo PREVIOUS_VERSION=$(git show "${{ github.event.before }}:package.json" | grep -o '"version": *"[^"]*"' | sed 's/"version": *"\(.*\)"/\1/') >> $GITHUB_ENV
          echo "$PREVIOUS_VERSION"

      - name: Get Previous Version
        run: |
          echo CURRENT_VERSION=$(git show "${{ github.event.after }}:package.json" | grep -o '"version": *"[^"]*"' | sed 's/"version": *"\(.*\)"/\1/') >> $GITHUB_ENV
          echo "$CURRENT_VERSION"

      - name: Show captured diff
        run: |
          echo "$PREVIOUS_VERSION"
          echo "$CURRENT_VERSION"
          
         
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting!
        fetch-depth: 0

    - name: install dependencies
      run: npm install

    - name: get test coverage
      run: npm test -- --coverage 

    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
