name: "test"

on:
  pull_request:
    branches: 
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 3

      - name: Get Previous Version
        run: |
          echo PREVIOUS_VERSION=$(git show "${{ github.event.before }}:package.json" | grep -o '"version": *"[^"]*"' | sed 's/"version": *"\(.*\)"/\1/') >> $GITHUB_ENV
          echo "$PREVIOUS_VERSION"

      - name: Get Previous Version
        run: |
          echo CURRENT_VERSION=$(git show "${{ github.event.after }}:package.json" | grep -o '"version": *"[^"]*"' | sed 's/"version": *"\(.*\)"/\1/') >> $GITHUB_ENV
          echo "$CURRENT_VERSION"

      - name: Show captured diff
        run: |
          echo "$PREVIOUS_VERSION"
          echo "$CURRENT_VERSION"

      - name: Get diff and update environment
        id: diff
        run: |
          echo DIFF=$(git diff "${{ github.event.before }}" "${{ github.event.after }}" | grep '^+\s*"version":') >> $GITHUB_ENV
          echo "$DIFF"
        shell: bash
          
      - name: Show captured diff
        if: env.DIFF
        run: |
          echo "$DIFF"
# done!!
