name: Manual Run SonarCloud

on:
  workflow_dispatch:
    inputs:
      include-test-coverage:
        type: boolean
        description: Include test coverage
        required: true

jobs:
  run-sonar-scan:
    runs-on: ubuntu-latest
    name: Run Sonar Scan
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
  
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
  
      - name: Cache Dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-16-api-core-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-16-api-core- 
  
      - name: Install Dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: npm install

      - name: Run Tests
        if: inputs.include-test-coverage
        run: npm run test:coverage

      - name: Run Sonar Cloud
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
