name: Run Reusable

on:
  workflow_dispatch:

jobs:
  run-reusable:
    name: Test Code
    uses: ./.github/workflows/reusable-test.yml
    with:
      node-version: 16

  print-after:
    needs: run-reusable
    name: print
    runs-on: ubuntu-latest
    steps:
      - name: print
        run: echo "success"
