name: Run Reusable

on:
  workflow_dispatch:

jobs:
  run-reusable:
    name: Test Code
    uses: ./.github/workflows/reusable-test.yml
    secrets: inherit
    with:
      node-version: 16
      run-sonar-cloud: true

  print-after:
    needs: run-reusable
    name: print
    runs-on: ubuntu-latest
    steps:
      - name: print
        run: echo "success"
